<form [formGroup]="form">
    <div class="card text-left">
        <div class="card-header">
            เปลี่ยน รหัสผ่าน
            <i class="fas fa-key"></i>
        </div>
        <div class="card-body">
            <div class="form-group ">
                <label for="df-password">รหัสผ่าน เดิม</label>
                <input type="password" formControlName="df_password" class="form-control" id="df-password" placeholder="รหัสผ่านเดิม"
                    autocomplete="password" required>
            </div>
            <div class="form-group ">
                <label for="new-password">รหัสผ่านใหม่</label>
                <input type="password" formControlName="new_password" class="form-control" id="new-password" placeholder="รหัสผ่านใหม่"
                    autocomplete="password" required>
            </div>
            <div class="form-group ">
                <label for="cf-password">ยืนยัน รหัสผ่านใหม่
                    <div *ngIf="form.controls['confirm_password'].touched" >
                        <div  *ngIf="form.controls['confirm_password'].value !=  form.controls['new_password'].value">
                            <b style="color: rgb(168, 42, 42);">***</b>
                        </div>
                    </div>
                </label>
                <input type="password" formControlName="confirm_password" class="form-control" id="cf-password" placeholder="ยืนยัน รหัสผ่านใหม่."
                    autocomplete="password" required>
            </div>

            <div *ngIf="!form.controls['df_password'].valid && form.controls['df_password'].touched || !form.controls['new_password'].valid && form.controls['new_password'].touched || !form.controls['confirm_password'].valid && form.controls['confirm_password'].touched"
                class="alert alert-danger ">
                <p>กรุณาใส่ A-Z a-z 0-9 เท่านั้น และใช้  6 ตัวอักษรขึ้นไป !!</p>
            </div>
        </div>
        <div class="card-footer text-muted">
            <button class="btn btn-danger" style="float: right;margin-left:5px;" routerLink="/home/setting/profile"> ยกเลิก </button>
            <button class="btn btn-success" style="float: right;margin-left:5px;" (click)="OnSave()" [disabled]="!form.valid"> บันทึก </button>

        </div>
    </div>
</form>
