<div class="modal fade" id="stockModalviewborrow" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <a>
          <i class="fas fa-info-circle"></i> แสดง ผู้ยืม</a>
        <button type="button" class="close text-light" (click)="onClose()" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="borrowData.length > 0">
          <table class="table table-bordered table-hover">
            <tbody *ngFor="let data of borrowData">
              <tr>
                <td class="c1">
                  <span>รหัสการยืม</span>
                </td>
                <td class="c2">{{data.bo_id}}</td>
              </tr>
              <tr>
                <td class="c1">
                  <span>รหัสพนักงาน</span>
                </td>
                <td class="c2">{{data.employee_id}}</td>
              </tr>
              <tr>
                <td class="c1">
                  <span>ชื่อพนักงาน</span>
                </td>
                <td class="c2">{{data.fullname}}</td>
              </tr>
              <tr>
                <td class="c1">
                  <span>รหัสอุปกรณ์</span>
                </td>
                <td class="c2">{{data.st_id}}</td>
              </tr>
              <tr>
                <td class="c1">
                  <span>ชื่ออุปกรณ์</span>
                </td>
                <td class="c2">{{data.st_name}}</td>
              </tr>
              <tr>
                <td class="c1">
                  <span>สถานะ</span>
                </td>
                <td class="c2">{{data.sta_br_name}}</td>
              </tr>
              <tr>
                <td class="c1">
                  <span>วันที่ยืม</span>
                </td>
                <td class="c2">{{data.borrow_dt | date: 'dd-MM-yyyy HH:mm'}}</td>
              </tr>
              <tr>
                <td class="c1">
                  <span>ซีเรียลนัมเบอร์</span>
                </td>
                <td class="c2">{{data.serial_no}}</td>
              </tr>
              <tr>
                <td class="c1">
                  <span>บาร์โค้ด</span>
                </td>
                <td class="c2">{{data.barcode | barcode}}
                  <hr style="width: 100%">
                  <ngx-barcode [bc-element-type]="elementType" [bc-value]="data.barcode" [bc-format]="format" [bc-display-value]="displayValue"
                    [bc-height]="height" [bc-width]="width" style="text-align: center;"></ngx-barcode>
                    <p class="text-barcode">{{data.barcode | barcode}}</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary " (click)="onClose()">ปิด</button>
      </div>
    </div>
  </div>
</div>
