.modal-header {
    font-size: 25px;
    color: white;
    background-color: #424242;
}

.fas {
    color: white;
}

.modal-footer button {
    font-size: 20px; 
    width: 30%;
}

.form-control-lg {
    border: 1px solid gray;
    width: 61%;
    font-size: 20px;
}

.alert{
    width: 61%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
}