<div class="modal fade" id="typegarModalmove" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <a class="modal-title">
          <i class="fas fa-undo-alt"></i> Recover Type</a>
        <button type="button" class="close" (click)="onClose()">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="form-group">
              <a>Cate name: "{{name_cate | uppercase}}"</a>
              <br>
              <a>Type name: "{{name_type | uppercase}}"</a>
              <br>
              <br>
              <h4>Confirm Recover Type!!!</h4>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="submit" class="btn btn-warning" (click)="onConfirm()">กู้คืน</button>
          <button type="button" class="btn btn-secondary" (click)="onClose()">ยกเลิก</button>
        </div>
      </form>
    </div>
  </div>
</div>
