<div class="modal fade" id="defectModaladddes" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-content-centered">
    <div class="modal-content">
      <div class="modal-header">
        <a class="modal-title">
          <i class="fas fa-cogs"></i> Add รายละเอียด</a>
        <button type="button" class="close" (click)="onClose()" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>
      </div>
      <form [formGroup]="form">
        <div class="modal-body">
          <div *ngIf="data" class="d-flex justify-content-center">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">รหัสอุปกรณ์</th>
                  <th>ชื่ออุปกรณ์</th>
                  <th>บาร์โค้ด</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-center">{{data.st_id}}</td>
                  <td>{{data.st_name}}</td>
                  <td>{{data.barcode}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <textarea formControlName="description" placeholder="รายละเอียด ....." cols="30" rows="5" minlength="3" maxlength="500"
            required></textarea>
          <div *ngIf="this.form.controls['description'].errors?.pattern" class="container-fluid d-flex justify-content-center alert alert-danger">
            Please enter thai or english character and number 0-9 only!
          </div>
          <div *ngIf="this.form.controls['description'].errors?.minlength" class="container-fluid d-flex justify-content-center alert alert-danger">
            กรุณากรอกข้อมูลอย้างน้อย 3 ตัวอักษร !!!
          </div>
          <div *ngIf="this.form.controls['description'].errors?.required" class="container-fluid d-flex justify-content-center alert alert-danger">
            Please enter any description!
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-primary" (click)="onSave()" [disabled]="!form.controls['description'].valid">บันทึก</button>
          <button type="button" class="btn btn-secondary" (click)="onClose()">ยกเลิก</button>
        </div>
      </form>
    </div>
  </div>
</div>
