.modal-header {
    font-size: 25px;
    color: white;
    background-color: #424242;
}

.fas {
    color: white;
}

.text-barcode{
    padding-top: 0;
    margin-top: -10px;
    font-size: 15px;
}

.modal-footer button {
    font-size: 20px;
    width: 30%;
}

table tr {
    border-bottom: 1px solid gray;
}

#pdfview {
    font-size: 30px;
    text-align: center;
}

.modal-lg {
    width: 60%;
}

.des-bar {
    text-align: left;
    font-size: 18px;
}

@media (min-width: 100px) {
    .modal-lg {
        max-width: 80%;
    }
}

@media (max-width: 1400px) {
    .modal-lg {
        width: 70%;
    }
}
@media print{
    .modal{
        display: none;
    }


}

