.modal-header {
    font-size: 25px;
    color: white;
    background-color: #424242;
}

.fas {
    color: white;
}

.modal-footer button {
    font-size: 20px;
    width: 30%;
}

.form-control-lg {
    border: 1px solid gray;
    width: 100%;
    font-size: 20px;
}

button.form-control-lg {
    width: 20%;
}

textarea{
    width:100%;
    border:1px solid rgb(121, 121, 121);
    border-radius: 5px;
}

.alert {
    font-size: 18px;
    text-align: center;
    width: 96%;
}