.modal-header {
    font-size: 25px;
    color: white;
    background-color: #424242;
}

.fas {
    color: white;
}

.modal-footer button {
    font-size: 20px;
    width: 30%;
}

.form-control-lg {
    text-align: center;
    font-size: 20px;
    width: 61%;
    border: 1px solid gray;
}

.alert {
    width: 61%;
    font-size: 18px;
    text-align: center;
}