.fas, a, {
    font-size: 50px;
    cursor: pointer;
}

.header .text-header {
    cursor: default;
    font-size: 25px;
}

.text-page {
    width: 80px;
    text-align: center;
    border-radius: 5px;
}

.text-page:hover {
    background: white;
}

.btn-light {
    border: 1px solid black;
}

.btn-light:disabled {
    cursor: default;
    border: 1px solid gray;
}

.btn-nextprev {
    width: 80px;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.dropdown-item, .fas {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #848484;
}

.text-barcode {
    font-size: 15px;
    padding-top: 0;
    margin-top: -10px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid gray;
    margin: 1em 0;
    padding: 0;
}

.search-button {
    color: black;
    background: white;
    border: 1px solid black;
    margin-left: 5px;
}

.search button:hover {
    background: rgb(15, 55, 63);
    color: white;
}

.form-control:focus, input:focus, select:focus {
    outline: none;
}

th, td {
    padding-top: 15px;
    padding-bottom: 15px;
}

th {
    border-bottom: 2px solid #bdbdbd;
}

tbody tr {
    box-shadow: 3px 3px 3px #bdbdbd;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

table {
    border-collapse: separate;
    border-spacing: 0 4px;
    width: 100%;
    margin: 0 auto;
}

table {
    width: 100%;
}

#printbarcode {
    display: none;
}

/* .no-print {
    display: none;
} */

@media print {
    #printbarcode {
        display: unset;
    }
    .no-print {
        display: none;
    }
}

.mat-header-cell {
    color: #000;
    font-weight: bold;
    font-size: 15px;
}

.mat-cell {
    color: #212529;
    font-size: 1rem;
    font-weight: 500;
}

.emp-id-margin {
    margin-left: 2%;
}

.emp-no-margin {
    margin-left: -0.5%;
}

.fullname-th-margin {
    margin-left: -2%;
}

.fullname-en-margin {
    margin-left: 0.3%;
}

.borrow_count_margin {
    margin-left: 3.75%;
}

.emp_id_margin {
    margin-left: 2.5%;
}

.dep-margin {
    margin-left: 0%;
}

.status-margin {
    margin-left: -3.5%;
}

.mat-row {
    /* box-shadow: 1px 1px 3px #bdbdbd; */
}

.mat-row:hover {
    background-color: #f5f5f5;
}

.mat-header-row {
  box-shadow: 0px 3px 0px #bdbdbd;
}

input[type=search].form-control {
    width: 300px;
}

.alert {
    font-size: 15px;
    text-align: center;
}

input[type="search"].form-control::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
    width: 300px;
    cursor: pointer;
}
