.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.menu {
    position: fixed;
    width: 250px;
    /* background-color: #212121; */
    background-color: #071A1E;
    color: white;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.main {
    padding-left: 250px;
}

@media (max-width: 1400px) {
    .menu {
        width: 200px;
    }
    .main {
        padding-left: 200px;
    }
}

@media print {
    .menu {
        display: none;
    }
    .main {
        padding-left: 0;
    }
}