<div class="modal fade" id="passwordModal" aria-labelledby="passwordModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <a>
          <i class="fas fa-edit"></i>เปลี่ยน รหัสผ่าน</a>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="form-group d-flex justify-content-center">
            <input type="password" class="form-control" type="text" placeholder="รหัสผ่านเดิม">
          </div>
          <div class="form-group d-flex justify-content-center">
            <input type="password" class="form-control" type="text" placeholder="รหัสผ่านใหม่">
          </div>
          <div class="form-group d-flex justify-content-center">
            <input type="password" class="form-control" type="text" placeholder="ยืนยัน รหัสผ่านใหม่">
          </div>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button type="button" class="btn btn-success">เปลี่ยนรหัสผ่าน</button>
        </div>
      </div>
    </div>
  </div>
</div>
