<div class="container-fluid">
  <br>
  <div class="header">
    <a class="text-header noselect">อุปกรณ์ชำรุด / รายการรับคืน</a>
  </div>
  <hr>
  <form [formGroup]="form">
    <div class="form-group form-inline justify-content-end">
      <div class="search noselect">
        <select class="form-control" formControlName="search_by">
          <option value="al" >ทั้งหมด</option>
          <option value="re_id"> รหัสการซ่อม</option>
          <option value="receiving_id">รหัสการรับคืน</option>
          <option value="de_id">รหัส อุปกรณ์ชำรุด</option>
          <option value="st_id"> รหัสอุปกรณ์</option>
          <option value="st_name">ชื่ออุปกรณ์</option>
          <option value="serial_no">ซีเรียลนัมเบอร์</option>
          <option value="barcode">บาร์โค้ด</option>
          <option value="user_id">รหัสผู้ใช้</option>
          <option value="fullname">ชื่อพนักงาน</option>
        </select>
        <input class="form-control" type="search" placeholder=" ค้นหา" formControlName="search" (keyup)="checkEmpty()" (keyup.enter)="checkErrors()">
        <button type="button" [disabled]="this.form.invalid" class="btn search-button" (click)="getData()">
          <i style="cursor: auto;" class="fas fa-search"></i >ค้นหา</button>
      </div>
    </div>
    <div class="container-fluid justify-content-center">
      <div class="row">
        <div class="col-6"></div>
        <div class="col-6">
          <div class="row">
            <div class="col-2"></div>
            <div *ngIf="this.form.controls['search'].errors?.pattern" class="col-10 alert alert-danger">
              ค้นหาด้วยตัวอักษร ก-ฮ a-z A-Z 0-9 เท่านั้น!
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="dropdown d-flex justify-content-end">
      <div class="form-group" style="padding-right: 10px;">
        <select class="form-control-sm" formControlName="numrow" (change)="getData()">
          <option [value]="5">5 แถว</option>
          <option [value]="10">10 แถว</option>
          <option [value]="20">20 แถว</option>
        </select>
      </div>
    </div>
  </form>

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="receiving_id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> รหัสการรับคืน</mat-header-cell>
      <mat-cell class="receive-id-margin" *matCellDef="let element"> {{element.receiving_id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="st_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ชื่ออุปกรณ์ </mat-header-cell>
      <mat-cell class="stock-name-margin" *matCellDef="let element"> {{element.st_name}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="receiving_date">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Receivied date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.receiving_date | date: 'dd-MM-yyyy HH:mm'}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> สถานะ </mat-header-cell>
      <mat-cell *matCellDef="let element" [ngClass]="{'text-success': element.reair_status_id == 'RF'}"> {{element.status_name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="action">
      <mat-header-cell class="text-center" *matHeaderCellDef> ฟังก์ชั่น </mat-header-cell>
      <mat-cell class="text-center" *matCellDef="let element">

        <i class="fas fa-align-justify text-dark" [matMenuTriggerFor]="menu"></i>

        <mat-menu #menu="matMenu">
          <mat-list-item>
            <button mat-menu-item (click)="sModal(element)">
              <i class="fas fa-info-circle"></i> รายละเอียด
            </button>
          </mat-list-item>
        </mat-menu>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <br>
  <div class="alert alert-danger " role="alert" *ngIf="data.length == 0 && search_nf">
    <br>
    <div class="d-flex justify-content-center">
      <a class="alert-heading text-notfound">  ไม่พบข้อมูล "{{search_nf}}"</a>
    </div>
    <hr>
    <div class="d-flex justify-content-center">
      <a class="text-notfound">input search by " รหัสการซ่อม", "ชื่อุปกรณ์", "บาร์โค้ด", "ซีเรียลนัมเบอร์", "ชื่อพนักงาน"</a>
    </div>
    <br>
  </div>
  <div class="alert alert-danger " role="alert" *ngIf="data.length == 0 && !search_nf">
    <br>
    <div class="d-flex justify-content-center">
      <a class="alert-heading text-notfound">ไม่พบข้อมูลในฐานข้อมูล </a>
    </div>
    <br>
  </div>

  <nav aria-label="Page navigation example">
    <ul class="form-inline pagination justify-content-end">
      <a class="page-link noselect text-page" style="cursor: default;">หน้า: {{setPage}}
      </a>
    </ul>
  </nav>
  <nav aria-label="Page navigation example" *ngIf="data.length > 0">
    <ul class="pagination justify-content-end">
      <li class="page-item" style="padding-right: 5px;" *ngIf="navPage.length > 1">
        <button type="button" class="btn btn-light" (click)="previoustabPage()" [disabled]="countPage[0] == 1">
          <i class="fas fa-angle-double-left"></i>
        </button>
      </li>
      <li class="page-item" style="padding-right: 1px;">
        <button type="button" class="btn btn-light btn-nextprev" (click)="previousPage()" [disabled]="setPage == 1">
          <i class="fas fa-caret-left"></i> ก่อนหน้า
        </button>
      </li>
      <li class="page-item" *ngFor="let i of countPage" style="width: 40px;text-align: center">
        <a class="page-link noselect" (click)="selectPage(i)" [ngClass]="{'text-light':setPage == i,'bg-dark':setPage == i}">{{i}}</a>
      </li>
      <li class="page-item" style="padding-left: 1px;">
        <button type="button" class="btn btn-light btn-nextprev" (click)="nextPage()" [disabled]="setPage == checkdisBut">
     ถัดไป
          <i class="fas fa-caret-right"></i>
        </button>
      </li>
      <li class="page-item" style="padding-left: 5px;" *ngIf="navPage.length > 1">
        <button type="button" class="btn btn-light" (click)="nexttabPage()" [disabled]="countPage[countPage.length-1] == checkdisBut">
          <i class="fas fa-angle-double-right"></i>
        </button>
      </li>
    </ul>
  </nav>

  <app-modal-detail-receive [mStat]="statusModaldetail" [data]="data2" (c)="close($event)"></app-modal-detail-receive>
</div>
